<div class="panel login-panel">
    <form>
        <div class="mdc-text-field">
            <input class="mdc-text-field__input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Логин</label>
        </div>
        <div class="mdc-text-field">
            <input class="mdc-text-field__input">
            <div class="mdc-line-ripple"></div>
            <label for="text-field-hero-input" class="mdc-floating-label">Пароль</label>
        </div>
    </form>
</div>