<div class="panel login">
    <div class="logo"></div>
    <h1 class="login__header">
        Единая Интеграционная Платформа
    </h1>
    <form [formGroup]="form" (submit)="onSubmit()">
        <esb-text-field placeholder="Логин" formControlName="username"></esb-text-field>
        <esb-text-field placeholder="Пароль" formControlName="password" type="password"></esb-text-field>
        <div class="error" *ngIf="error">
            {{ errorMessage }}
        </div>
        <esb-button class="login__button" type="submit" styleType="raised">Войти</esb-button>
    </form>
</div>