<form class="main security" [formGroup]="form">
    <header class="security__header">
        Учетные записи пользователей
    </header>

    <div class="table">
        <div class="table__header">
            <div class="table__cell">
                Login
            </div>
            <div class="table__cell">
                ФИО
            </div>
        </div>
        <div class="table__content" formArrayName="users">
            <form class="table__body" *ngFor="let user of usersCtrl.controls | pagination: paginationRef | async; index as i" [formGroupName]="i" (submit)="onSubmit(i)">
                <div class="table__row" [ngClass]="getRowClass(i)">
                    <div class="table__cell">
                        {{ user.get('cn').value }}
                    </div>
                    <div class="table__cell">
                        {{ user.get('sn').value }}
                    </div>
                    <div class="table__row-controls" [hidden]="userRow[i].expanded">
                        <i class="material-icons-outlined" (click)="expand(i)">edit</i>
                        <i class="material-icons-outlined" (click)="deleteUser(i)">delete</i>
                    </div>
                </div>
                <div class="table-details" *ngIf="isRowVisible(i)">
                    <div class="clearfix table-details__form">
                        <div class="table-details__col">
                            <esb-text-field placeholder="Login" formControlName="cn">
                            </esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="ФИО" formControlName="sn"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="e-mail" formControlName="email"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="Пароль" formControlName="password" type="password" [canShowPassword]="true"></esb-text-field>
                        </div>
                    </div>

                    <ng-container *ngIf="userAccessRights[i]">
                        <div class="checks" *ngFor="let checkBlock of checkBlocks">
                            <header class="checks__header">
                                {{ checkBlock.name }}
                            </header>
    
                            <ul class="checks__list">
                                <li class="checks__item checks__item--parent" 
                                    *ngFor="let item of userAccessRights[i][checkBlock.key + 'AccessRights']"
                                    #itemElement
                                    [ngClass]="{'checks__item--expandable': item.serviceAccessRights && item.serviceAccessRights.length}">
    
                                    <span class="checks__item-toggler" (click)="itemElement.classList.toggle('is-collapsed')"></span>
    
                                    <esb-checkbox [label]="item[checkBlock.key + 'Name']" [value]="item.hasAccess" (change)="onChecked($event.target.checked, item)"></esb-checkbox>
    
                                    <ul class="checks__list" *ngIf="item.serviceAccessRights && item.serviceAccessRights.length">
                                        <li class="checks__item" *ngFor="let service of item.serviceAccessRights; index as i">
                                            <esb-checkbox [label]="service.serviceName" [value]="service.hasAccess" (change)="onChecked($event.target.checked, item, i)"></esb-checkbox>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>    
                    </ng-container>

                    <div class="table-details__buttons">
                        <esb-button class="checks__button" type="button" (click)="cancel(i)">
                            Отменить
                        </esb-button>
                        <esb-button class="checks__button" type="submit" styleType="raised">
                            Сохранить
                        </esb-button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="table-pagination">
        <esb-pagination [dataRef]="userRow" #paginationRef></esb-pagination>
    </div>
</form>