<div class="main security">
    <header class="security__header">
        Учетные записи пользователей
    </header>

    <div class="table">
        <div class="table__header">
            <div class="table__cell">
                Login
            </div>
            <div class="table__cell">
                ФИО
            </div>
        </div>
        <div class="table__content">
            <div class="table__body" *ngFor="let user of users; index as i">
                <div class="table__row" [ngClass]="{ 'is-expanded': user.expanded }">
                    <div class="table__cell">
                        {{ user.cn }}
                    </div>
                    <div class="table__cell">
                        {{ user.sn }}
                    </div>
                    <div class="table__row-controls">
                        <i class="material-icons-outlined" (click)="user.expanded = !user.expanded">edit</i>
                        <i class="material-icons-outlined" (click)="deleteUser(user, i)">delete</i>
                    </div>
                </div>
                <div class="table-details" *ngIf="user.expanded">
                    <div class="clearfix table-details__form">
                        <div class="table-details__col">
                            <esb-text-field placeholder="Login" [value]="user.cn" [disabled]="divue">
                            </esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="ФИО" [value]="user.sn"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="e-mail" [value]="user.email"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="Пароль" type="password" [canShowPassword]="divue">
                            </esb-text-field>
                        </div>
                    </div>

                    <div class="checks">
                        <header class="checks__header">
                            Методы
                        </header>

                        <ul class="checks__list">
                            <li class="checks__item checks__item--parent">
                                <esb-checkbox label="esb.kinobilet"></esb-checkbox>

                                <ul class="checks__list">
                                    <li class="checks__item">
                                        <esb-checkbox label="get_tickets"></esb-checkbox>
                                    </li>
                                    <li class="checks__item">
                                        <esb-checkbox label="get_statistics"></esb-checkbox>
                                    </li>
                                </ul>
                            </li>
                            <li class="checks__item checks__item--parent">
                                <esb-checkbox label="Администрирование"></esb-checkbox>

                                <ul class="checks__list">
                                    <li class="checks__item">
                                        <esb-checkbox label="Nodered"></esb-checkbox>
                                    </li>
                                    <li class="checks__item">
                                        <esb-checkbox label="Список пользователей"></esb-checkbox>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="checks__buttons">
                            <esb-button class="checks__button" type="button">
                                Отменить
                            </esb-button>
                            <esb-button class="checks__button" type="submit" styleType="raised">
                                Сохранить
                            </esb-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>