<div class="main security">
    <header class="security__header">
        Учетные записи пользователей
    </header>

    <table class="table">
        <thead>
            <tr>
                <th width="40%">
                    Login
                </th>
                <th width="60%">
                    ФИО
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    petrov
                </td>
                <td>
                    Петров Перт Петврвоич
                </td>
            </tr>
            <tr class="is-expanded">
                <td>
                    petrov
                </td>
                <td>
                    Петров Перт Петврвоич
                </td>
            </tr>
            <tr class="table-details">
                <td colspan="2">
                    <div class="clearfix table-details__form">
                        <div class="table-details__col">
                            <esb-text-field placeholder="Login" value="ivanov" [disabled]="true"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="ФИО"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="e-mail"></esb-text-field>
                        </div>
                        <div class="table-details__col">
                            <esb-text-field placeholder="Пароль" type="password" [canShowPassword]="true"></esb-text-field>
                        </div>
                    </div>

                    <div class="checks">
                        <header class="checks__header">
                            Методы
                        </header>

                        <ul class="checks__list">
                            <li class="checks__item checks__item--parent">
                                <esb-checkbox label="esb.kinobilet"></esb-checkbox>

                                <ul class="checks__list">
                                    <li class="checks__item">
                                        <esb-checkbox label="get_tickets"></esb-checkbox>
                                    </li>
                                    <li class="checks__item">
                                        <esb-checkbox label="get_statistics"></esb-checkbox>
                                    </li>
                                </ul>
                            </li>
                            <li class="checks__item checks__item--parent">
                                <esb-checkbox label="Администрирование"></esb-checkbox>

                                <ul class="checks__list">
                                    <li class="checks__item">
                                        <esb-checkbox label="Nodered"></esb-checkbox>
                                    </li>
                                    <li class="checks__item">
                                        <esb-checkbox label="Список пользователей"></esb-checkbox>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="checks__buttons">
                            <esb-button class="checks__button" type="button">
                                Отменить
                            </esb-button>
                            <esb-button class="checks__button" type="submit" styleType="raised">
                                Сохранить
                            </esb-button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>