@import "variables";

.header {
  height: 64px;
  border-bottom: 1px solid $border-color;
  position: relative;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;

  &__search {
    display: inline-block;
    width: 400px;
    position: relative;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 90px;
    &-icon {
      position: absolute;
      top: 8px;
      left: 17px;
    }

    input {
      border: none;
      line-height: 40px;
      height: 40px;
      background: transparent;
      outline: none;
      width: 100%;
      font-size: 16px;
      padding: 0 24px 0 56px;
      background-color: whitesmoke;
      border-radius: 2px;
      &::placeholder {
        color: $muted-color;
      }
      &:hover {
        background: $input-hover;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
        background: $input-focus;
      }
    }
  }
  &__logo {
    margin: 7px 16px;
    display: inline-block;
  }
  
  &__user {
      position: absolute;
      right: 32px;
      top: 19px;
      cursor: pointer;
      color: $muted-color;
  }
}

